@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background: white;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
#lihat-detail-button{
    color: black ;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust spacing between cards */
    align-items: flex-start; /* Align items at the start */
    padding: 20px;
    max-width: 1200px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container */
}
.info-title {
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
    font-family: Nunito, sans-serif;
    font-weight: 700;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Optional: slight upward movement */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.destination-card {
    position: relative;
    width: 100%;
    max-width: 371px !important;
    height: 535px !important;
    margin: 20px;
    overflow: hidden; 
     opacity: 0; 
    animation: fadeIn 1s ease-in-out forwards;
    transition: transform 0.3s ease; 
    
    }
.destination-card:hover {
    transform: scale(1.02)!important;
}
.destination-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
    filter: blur(2px); /* Apply blur effect */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.red-overlay {
    background: rgba(255, 0, 0, 0.19);
}

.yellow-overlay {
    background: rgba(255, 229.5, 0, 0.19);
}
.blue-overlay {
    background: rgba(0, 47, 255, 0.19);
}

.destination-name {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fefefe;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

.svg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 367px;
    height: auto;
}

.svg-image {
    width: 60%;
    height: 200px;
    margin-left: 23%;
    
}

@media (min-width: 768px) {
    .destination-card {
        max-width: calc(50% - 40px); /* Adjusted margin */
        height: calc(696px * 0.5); /* Maintain aspect ratio */
    }
}

@media (min-width: 1024px) {
    .destination-card {
        max-width: 440px;
        height: 696px;
    }
}

@media (max-width: 1024px) {
    .destination-card {
        width: calc(50% - 40px); /* Two cards per row on smaller screens */
    }
}

@media (max-width: 768px) {
    .destination-card {
        width: calc(100% - 40px); /* One card per row on mobile */
    }
}
