@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif !important;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #F0F3FA !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    line-height: 1.5;
}

.container-card {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    place-items: center;
    gap: 2vw;
    padding: 5vw;
    max-width: 2000px;
    margin: 0 auto;
    width: 100%;
    margin-left: 0.1vw !important;
}

svg {
    max-width: 100%;
    height: 100%;
}

.row {
    justify-content: center;
    text-align: center;
}

.container-card .custom-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 300px;
    background: #FFF;
    border-radius: 20px;
    transition: height 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 35px 88px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.container-card .custom-card:hover {
    height: 530px;
}

.location-teks {
    font-weight: 600;
}

.time-teks {
    font-weight: 600;
}

.filter-buttons {
    margin-bottom: 20px;
    text-align: center;
}

.filter-buttons .btn {
    margin: 0 10px;
}

.container-card .custom-card .img-box {
    position: relative;
    width: 100%;
    height: 220px;
    background: #333;
    border-radius: 12px;
    transition: transform 0.5s ease;
    overflow: visible;
}

.container-card .custom-card:hover .img-box {
    transform: translateY(-100px);
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container-card .custom-card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-card .custom-card .custom-content {
    position: absolute;
    top: 84%;
    width: 100%;
    height: 10%;
    min-height: 35px;
    padding: 0 30px;
    text-align: center;
    transition: 0.5s;
}

.container-card .custom-card:hover .custom-content {
    top: 43%;
    height: 83%;
    min-height: 250px;
}

.container-card .custom-card .custom-content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
    position: relative;
    top: -20px;
}

.container-card .custom-card .custom-content p {
    color: #333333;
    margin-bottom: 5px;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.container-card .custom-card:hover .custom-content p {
    opacity: 1;
}

.container-card .custom-card .custom-content a {
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: #181818;
    color: #fff;
    font-weight: 500;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.container-card .custom-card:hover .custom-content a {
    opacity: 1;
}

@media (max-width: 1000px) {
    .container-card {
        grid-template-columns: repeat(2, 1fr) !important;
        max-width: 100%;
        gap: 3vw;
        justify-self: center;
        place-items: center;
        padding-left: 5vw;
        left: 5vw;
        margin-left: 0.3vw;
    }
}

@media (min-width: 768px) {
    .col-md-3 {
        width: 100% !important;
        justify-self: center;
        place-items: center;
        margin-left: 0.3vw;
    }
}

@media (max-width: 600px) {
    .container-card {
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 3vw;
        justify-self: center;
        place-items: center;
        display: block;
        margin-left: 0.3vw;
    }

    .container-card .custom-card {
        width: 100% !important;
    }

    .container-card .custom-card .img-box {
        width: 100%;
    }

    .container-card .custom-card .custom-content p {
        font-size: 0.8rem;
    }

    .container-card .custom-card .custom-content a {
        font-size: 0.9rem;
    }
}

.hasatu {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

main {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    * {
        margin: 0;
        padding: 0;
    }
}

.content {
    height: 41vh;
}

@media (max-width: 767px) {
    .footer-col {
        flex: 1 1 45%;
        max-width: 45%;
        margin-bottom: 30px;
    }

    .container-card {
        display: block;
    }

    .container-card .custom-card {
        width: 100%; /* Ensure full width */
        margin-bottom: 50px;
    }

    .container-card {
        display: block !important;
    }
}

@media (max-width: 574px) {
    .footer-col {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.row-footer {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row-footer>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.col {
    flex: 1 0 0%;
}

@media (min-width: 280px) and (max-width: 1025px) {
    .container-card .custom-card:hover {
        height: 530px !important;
    }
}

.green-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    display: none;
    z-index: 1;
}

.past-event .green-overlay {
    display: flex;
}

.past-event .img-box img {
    filter: grayscale(100%);
}
