body {
    background-color: #F0F3FA !important;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
}

.container {
    width: 100%;
    padding: 20px;
}

.hero {
    position: relative;
    width: 100%;
    height: 545px;
    background-image: url('https://via.placeholder.com/1440x545');
    background-size: cover;
    background-position: center;
}

.hero .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .title {
    color: #F0F3FA;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.content {
    padding: 20px;
}

.section-title {
    color: #395886;
    font-size: 2.5rem !important;
    font-weight: 700;
    margin-top: 40px;
    word-wrap: break-word;
}

.section-title.tips {
    margin-top: 70px;
    margin-bottom: -20px;
    text-align: center;
}

.section-content {
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 10px;
    word-wrap: break-word;
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 5%;
    list-style-type: lower-roman;
    padding-left: 0;
    margin: 0;
}
.special-margin {
    width: 25vw;
  }
.special-margin-list3{
    width: 27vw;
}

ul li {
    padding-left: 1.5rem;
    line-height: 27px;
    margin-bottom: 5px;
    letter-spacing: 0.01rem;
}

@media (max-width: 767px) {
    ul {
        grid-template-columns: 1fr;
        row-gap: 10px;
        padding-left: 20px;
    }

    ul li {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .hero .title {
        font-size: 6rem;
    }

    .section-title {
        font-size: 2rem !important;
    }

    .section-content {
        font-size: 1.25rem;
    }

    ul li {
        font-size: 1.25rem;
    }
}

@media (min-width: 1200px) {
    .hero .title {
        font-size: 8rem;
    }

    .section-title {
        font-size: 2.5rem !important;
    }

    .section-content {
        font-size: 1.5rem;
    }

    ul li {
        font-size: 1.5rem;
    }
}
