body {
  background: linear-gradient(#F0F3FA, #F0F3FA); /* nd bs background color */
  overflow-x: hidden;
}

/* mulai css carousel pembuka */
.crslbtn {
  color: white;
  background-color: rgba(98, 142, 203, 0.5);
  padding: 10px;
  border-radius: 5px;
  
}

.crslbtna {
  text-decoration: none;
}

.crslbtn {
  transition: transform 0.2s;
}

.crslbtn:hover {
  transform: scale(1.05);
  background-color: rgba(108, 154, 218, 0.5);
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
  z-index: 1;
}

.carousel-item img {
  position: relative;
  z-index: 0;
  width: 100%; /* Ensures image scales with the container */
  height: auto; /* Maintains aspect ratio */
  max-height: 75vh; /* Limits image height to 75% of the viewport height */
  object-fit: cover; /* Ensures the image covers the container without being stretched */
}

.carousel-caption {
  position: relative;
  z-index: 2;
  text-align: center; /* Centers the caption text */
}

.tekscarousel {
  color: #f8f8f8;
  
}

.tekscarouselp {
  color: #f8f8f8;
  
  font-size: larger;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #252525, #FFF, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* selesai css carousel pembuka */

/* mulai gacor */
#anjas {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  
}

#anjas h1 {
  font-weight: bold;
  color: #405484;
}

#anjas p {
  
  color: #405484;
  font-size: 25px;
}
/* sls gacor */

/* grid fitur */
.teksfitur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.teksfitur h1 {
  color: #f0f3fae3;
  
  text-align: center;
  font-size: 1.5em;
}

.animasigrid {
	transition: transform 0.2s;	
}

.animasigrid:hover {
	transform: scale(1.05);
}
/* sls grid fitur */

/* mulai css comparison */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ini yang original */
/* .badanslider { 
  height: 75vh;
  display: grid;
  place-items: center;
} */

.badanslider {
  margin-top: 100px;
  margin-bottom: 100px;
}

#baa {
  margin-bottom: 50px;
}

.container-slider {
  height: 65vmin;
  width: 150vmin;
  position: relative;
  overflow: hidden;
}

.container-slider img {
  border:5px solid #405484;
}

.narasi-comparison-title {
  text-align: center;
  padding-top: 20px;
  
  color: #405484;
}

.narasi-comparison {
  text-align: center;
  font-size: large;
  
  color: #405484;
}

.img-comparison {
  width: 100%;
  height: 100%;
  position: absolute;
}

#my-img {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

#slider {
  position: relative;
  -webkit-appearance: none;
  width: calc(100% + 40px);
  height: 100%;
  margin-left: -20px;
  background-color: transparent;
  outline: none;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  background: url("/asset/slider-icon.svg"),
    rgba(255, 255, 255, 0.3);
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-size: contain;
  cursor: pointer;
}
/* selesai css comparison */

/* mulai faq */
#fq {
  margin-bottom: 50px;
}

.faqyo {
  
  margin-bottom: 100px;
}

.accordion {
  margin: 0.6rem 0;
}

.accordion--open .accordion__content {
  --height: 300px;
  max-height: var(--height);
}

.accordion__header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 1.2rem;
  border-radius: 0.2rem 0.2rem 0 0;

  background: #628ECB;
  cursor: pointer;
}

.accordion__title {
  user-select: none;
  pointer-events: none;
  color: white;
}

.accordion__content {
  background: #f0f3fa;
  border: 0.1rem solid #628ECB;
  border-radius: 0 0 0.2rem 0.2rem;

  line-height: 160%;

  color: #002a68;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.accordion__text {
  margin: 1rem 1.2rem;
}
/* selesai faq 💦 */

/* Splide Komen  */
#komen {
  margin-top: 100px;
  margin-bottom: 50px;
}

.kontener-komen {
  background-color: #8AAEE0;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.4); /* Horizontal offset, vertical offset, blur radius, color */
}

#testimonial-slider {
  max-width: 1200px;
  margin: auto;
}

.splide__slide .testimonial blockquote {
  margin: 10px 10px 0;
  background: #efefef;
  padding: 20px 60px;
  position: relative;
  border: none;
  border-radius: 8px;
  font-style: italic;
}

.splide__slide .testimonial blockquote:before,
.splide__slide .testimonial blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  line-height: 1;
  color: #757f9a;
  font-style: normal;
}

.splide__slide .testimonial blockquote:before {
  top: 0;
  left: 10px;
}

.splide__slide .testimonial blockquote:after {
  content: "\201D";
  right: 10px;
  bottom: -0.5em;
}

.splide__slide .testimonial div {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #efefef;
  margin: 0 0 0 60px;
}

.splide__slide .testimonial p {
  margin: 8px 0 0 20px;
  text-align: left;
  color: #fff;
}
/* End splide komen */

@media (max-width: 1200px) {
  .carousel-item img {
    max-height: 70vh; /* Adjust image height for large tablets */
  }
}

@media (max-width: 992px) {
  .carousel-item img {
    max-height: 65vh; /* Adjust image height for smaller tablets */
  }
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 60vh; /* Adjust image height for large smartphones */
  }
}

@media (max-width: 576px) {
  .carousel-item img {
    max-height: 55vh; /* Adjust image height for smaller smartphones */
  }

  .carousel-caption {
    padding: 10px; /* Add padding for better text readability */
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 375px) {
  .carousel-caption {
    font-size: 12px; /* Further adjust font size for very small screens */
  }
}

.title-container {
  text-align: left;
  margin: 20px 0;
}

.responsive-title {
  display: inline-block;
  position: relative;
  font-size: 2em; /* Adjust size as needed */
  color: #002a68; /* Example color */
  margin-left: 123px;
}

.responsive-title::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #002a68; /* Example color */
  margin-top: 5px;
}

@media (max-width: 768px) {
  .responsive-title {
    font-size: 1.5em; /* Smaller font size on smaller screens */
    margin-left: 20px; /* Adjust margin for smaller screens */
  }
}

@media (max-width: 600px) {
  #carouselAlim {
    width: 100%; /* Ensures it takes the full width of its container */
    /* margin-top: 60px;  */
  }

  .responsive-title {
    font-size: 1.2em; /* Further reduce font size for small screens */
  }
}

